<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Vampire Diaries</title>
    <link rel="stylesheet" href="../static/css/theVampireDiaries.css">
</head>

<body>
    <video class="video-background" autoplay loop muted playsinline>
        <source src="../static/assets/theVampireDiaries/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="content-wrapper">
        <header>
            <h1>The <span class="accent-text">Vampire</span> Diaries</h1>
        </header>

        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#characters">Characters</a></li>
                <li><a href="#episodes">Episodes</a></li>
                <li><a href="#lore">Lore</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="index.html">Menu</a></li>
            </ul>
        </nav>

        <div class="container">
            <section id="home" class="section">
                <div class="content">
                    <div class="main-content" role="main">
                        <h2>Welcome to the <span class="accent-text">Shadows</span></h2>
                        <p>Immerse yourself in a world where darkness reigns and supernatural beings walk among us. "The
                            Vampire Diaries" unravels the mysteries of a small town plagued by ancient curses, forbidden
                            love, and eternal struggles.</p>

                        <div class="carousel">
                            <div class="carousel-container">
                                <img src="../static/assets/theVampireDiaries/images/elena.jpeg" alt="Elena">
                                <img src="../static/assets/theVampireDiaries/images/stefan.jpeg" alt="Stefan">
                                <img src="../static/assets/theVampireDiaries/images/damon.jpeg" alt="Damon">
                                <img src="../static/assets/theVampireDiaries/images/caroline.jpeg" alt="Caroline">
                                <img src="../static/assets/theVampireDiaries/images/bonnie.jpeg" alt="Bonnie">
                                <img src="../static/assets/theVampireDiaries/images/matt.jpeg" alt="Matt">
                                <img src="../static/assets/theVampireDiaries/images/tyler.jpeg" alt="Tyler">
                                <img src="../static/assets/theVampireDiaries/images/alaric.jpeg" alt="Alaric">
                                <img src="../static/assets/theVampireDiaries/images/jeremy.jpeg" alt="Jeremy">
                            </div>
                            <button class="carousel-button prev">&lt;</button>
                            <button class="carousel-button next">&gt;</button>
                        </div>

                        <div class="character">
                            <h3>Featured Character</h3>
                            <img src="../static/assets/theVampireDiaries/images/damonSilhouette.jpeg"
                                alt="Character Silhouette">
                            <p>Discover the tragic past and conflicted present of our enigmatic anti-hero, as they
                                navigate the treacherous waters of immortality and human emotion.</p>

                        </div>

                        <div class="regal-section">
                            <h3>Latest <span class="accent-text">Revelation</span></h3>
                            <p>A centuries-old prophecy has been unearthed, threatening to upend the delicate balance
                                between the living and the undead. What sacrifices must be made to prevent an
                                apocalyptic event?</p>

                        </div>
                    </div>

                    <div class="sidebar">
                        <h3>Latest <span class="accent-text">Episodes</span></h3>
                        <ul>
                            <li>Episode 10: "Whispers in the Dark"</li>
                            <li>Episode 9: "Blood Ties"</li>
                            <li>Episode 8: "The Turning"</li>
                        </ul>

                        <div class="regal-section">
                            <h3>Fan Theories</h3>
                            <p>Join the discussion! What secrets lie beneath the surface of our seemingly peaceful town?
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="characters" class="section">

                <div class="content">

                    <div class="main-content">
                        <h2>The <span class="accent-text">Characters</span></h2>

                        <div class="character">
                            <h3>Damon Salvator</h3>
                            <img src="../static/assets/theVampireDiaries/images/damon.jpeg" alt="Damon">
                            <p>
                                Backstory: Damon Salvatore was born in 1839 in Mystic Falls, Virginia, as the eldest son
                                of Giuseppe and Lillian Salvatore. Damon was a free-spirited young man who shared a
                                close bond with his younger brother, Stefan. Their relationship took a dramatic turn
                                when they both fell in love with Katherine Pierce, a vampire who ultimately turned them
                                both into vampires against their will in 1864. Damon spent the next century resenting
                                Stefan for being the favored son and for not saving him from becoming a vampire. Damon
                                became notorious for his violent and unpredictable nature, often masking his deep pain
                                and loneliness with cruelty and sarcasm. His return to Mystic Falls was initially driven
                                by a desire to free Katherine from a tomb he believed she was trapped in, but his time
                                in the town led him to develop new, complex relationships, particularly with Elena
                                Gilbert.
                            </p>
                            <p>
                                Character Introduction: Damon Salvatore is the charming, dangerous, and enigmatic older
                                brother of Stefan. With a sharp wit and a penchant for chaos, Damon is initially
                                introduced as a villain, but over time, his character reveals layers of complexity.
                                Beneath his ruthless exterior lies a deep sense of loss and a yearning for love and
                                acceptance. Damon’s journey is one of redemption as he struggles to balance his darker
                                impulses with his desire to be better for those he loves, particularly Elena.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Bad Brother
                            </p>
                        </div>

                        <div class="character">
                            <h3>Elena Gilbert</h3>
                            <img src="../static/assets/theVampireDiaries/images/elena.jpeg" alt="Elena">
                            <p>
                                Backstory: Elena Gilbert was born on June 22, 1992, in Mystic Falls, Virginia. She grew
                                up in a loving family, but her life took a tragic turn when her parents died in a car
                                accident. Following their death, Elena struggled with grief while trying to care for her
                                younger brother, Jeremy. Her life became even more complicated when she met Stefan
                                Salvatore, who introduced her to the hidden world of vampires, witches, and other
                                supernatural beings. Elena later discovered that she was a Petrova doppelgänger, a
                                mystical double with a significant role in a centuries-old curse. This revelation made
                                her a target for various supernatural beings, but it also led her to uncover her own
                                inner strength and resilience.
                            </p>
                            <p>
                                Character Introduction: Elena Gilbert is the compassionate and determined protagonist of
                                The Vampire Diaries. Initially depicted as a typical teenage girl dealing with loss,
                                Elena’s life is turned upside down when she becomes entangled in the supernatural events
                                surrounding Mystic Falls. Throughout the series, Elena is faced with numerous challenges
                                that test her morality, loyalty, and capacity for love. Her relationships with the
                                Salvatore brothers, particularly her love for both Stefan and Damon, drive much of the
                                series' drama.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Petrova Doppelgänger
                            </p>
                        </div>

                        <div class="character">
                            <h3>Stefan Salvatore</h3>
                            <img src="../static/assets/theVampireDiaries/images/stefan.jpeg" alt="Stefan">
                            <p>
                                Backstory: Stefan Salvatore was born in 1846 in Mystic Falls, Virginia, as the younger
                                son of Giuseppe and Lillian Salvatore. Stefan was known for his compassionate and
                                sensitive nature, traits that often set him apart from his older brother, Damon.
                                Stefan’s
                                life took a tragic turn when he fell in love with Katherine Pierce, a vampire who turned
                                him into a vampire against his will in 1864. Stefan spent the next century grappling
                                with
                                his guilt over his transformation and his struggle to control his bloodlust. His return
                                to Mystic Falls was driven by a desire to start anew and to protect Elena Gilbert, a
                                high school student who bore a striking resemblance to Katherine.
                            </p>
                            <p>
                                Character Introduction: Stefan Salvatore is the brooding, compassionate, and morally
                                upright younger brother of Damon. Known for his self-control and sense of honor, Stefan
                                is initially introduced as the “good brother” in contrast to Damon’s darker tendencies.
                                Stefan’s journey is one of redemption as he navigates the challenges of being a vampire
                                while striving to protect his loved ones and uphold his values. His love for Elena and
                                his
                                commitment to doing the right thing drive much of his character development.
                            </p>

                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Good Brother
                            </p>
                        </div>

                        <div class="character">
                            <h3>Caroline Forbes</h3>
                            <img src="../static/assets/theVampireDiaries/images/caroline.jpeg" alt="Caroline">
                            <p>
                                Backstory: Caroline Forbes was born and raised in Mystic Falls, the daughter of the
                                town’s sheriff. Initially portrayed as an insecure and competitive teenager, Caroline
                                struggled with feelings of inadequacy and a desire to be loved. Her life changed
                                drastically when she was turned into a vampire by Katherine Pierce in the early seasons
                                of the show. Initially horrified by her transformation, Caroline quickly adapted to her
                                new reality, becoming one of the strongest and most self-assured characters in the
                                series. Her vampire nature enhanced her personality traits, making her more confident
                                and resilient. Caroline’s journey involved navigating complex relationships, including
                                her friendship with Elena and her romances with Matt Donovan, Tyler Lockwood, and Klaus
                                Mikaelson.
                            </p>
                            <p>Character Introduction: Caroline Forbes is a bright, ambitious, and resilient young woman
                                who undergoes one of the most significant transformations in The Vampire Diaries. From
                                an insecure high school girl, she evolves into a powerful and confident vampire who
                                plays a central role in the lives of those around her. Caroline’s unwavering loyalty to
                                her friends and her determination to make the best out of her new life make her an
                                integral part of the Mystic Falls community.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Cheerleader
                            </p>
                        </div>

                        <div class="character">
                            <h3>Bonnie Bennett</h3>
                            <img src="../static/assets/theVampireDiaries/images/bonnie.jpeg" alt="Bonnie">
                            <p>
                                Backstory: Bonnie Bennett was born and raised in Mystic Falls, Virginia, as a member of
                                a
                                powerful witch family. Throughout the series, Bonnie discovers the extent of her magical
                                abilities and her connection to the supernatural world. Her journey involves
                                strengthening her powers, uncovering family secrets, and protecting her friends from
                                various threats. Bonnie’s character is defined by her loyalty, bravery, and willingness
                                to
                                sacrifice herself for the greater good. Her friendship with Elena Gilbert and her
                                relationships with other characters, including Jeremy Gilbert and Enzo St. John, play
                                significant roles in her development.
                            </p>
                            <p>
                                Character Introduction: Bonnie Bennett is the strong-willed, compassionate, and
                                self-sacrificing best friend of Elena Gilbert. As a witch, Bonnie is often the moral and
                                magical backbone of the group, using her powers to protect her friends and the town of
                                Mystic Falls. Bonnie’s journey is one of growth, as she learns to embrace her powers and
                                her role as a witch while dealing with the immense burdens that come with it. Her
                                resilience and unwavering commitment to doing what is right make her a beloved character
                                in the series.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Witch
                            </p>
                        </div>

                        <div class="character">
                            <h3>Matt Donovan</h3>
                            <img src="../static/assets/theVampireDiaries/images/matt.jpeg" alt="Matt">
                            <p>
                                Backstory: Matt Donovan was born and raised in Mystic Falls, Virginia, as a human
                                resident
                                of the town. Throughout the series, Matt is portrayed as a kind-hearted and loyal
                                friend
                                who often finds himself entangled in the supernatural events surrounding Mystic Falls.
                                His relationships with various characters, including Elena Gilbert, Caroline Forbes, and
                                Rebekah Mikaelson, play significant roles in his character development. Matt’s journey
                                involves navigating the challenges of being a human in a town filled with vampires,
                                werewolves, and witches, as well as dealing with personal losses and traumas.
                            </p>
                            <p>
                                Character Introduction: Matt Donovan is the compassionate, loyal, and relatable human
                                character in The Vampire Diaries. As the only main character without supernatural
                                abilities, Matt serves as a grounding force in the series, providing a human perspective
                                on the events unfolding in Mystic Falls. Matt’s journey is one of resilience as he
                                copes
                                with the loss of loved ones, the dangers of living in a supernatural town, and the
                                complexities of his relationships with supernatural beings.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Human
                            </p>
                        </div>

                        <div class="character">
                            <h3>Tyler Lockwood</h3>
                            <img src="../static/assets/theVampireDiaries/images/tyler.jpeg" alt="Tyler">
                            <p>
                                Backstory: Tyler Lockwood was born and raised in Mystic Falls, Virginia, as a member of
                                the
                                Lockwood family, a prominent founding family in the town. Throughout the series, Tyler
                                is
                                portrayed as a conflicted and complex character who struggles with his identity and his
                                supernatural abilities. His journey involves discovering his werewolf heritage, dealing
                                with the challenges of being a hybrid, and navigating his relationships with other
                                characters, including Caroline Forbes, Matt Donovan, and Klaus Mikaelson. Tyler’s
                                character is defined by his loyalty, his sense of honor, and his desire to protect those
                                he cares about.
                            </p>
                            <p>
                                Character Introduction: Tyler Lockwood is the conflicted, loyal, and hot-headed werewolf
                                character in The Vampire Diaries. Initially introduced as a typical high school jock,
                                Tyler’s life takes a dramatic turn when he discovers his werewolf heritage and becomes a
                                hybrid. Tyler’s journey is one of self-discovery as he grapples with his dual nature and
                                the responsibilities that come with it. His relationships with other characters,
                                including
                                Caroline Forbes and Klaus Mikaelson, play significant roles in his development.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Werewolf
                            </p>
                        </div>

                        <div class="character">
                            <h3>Alaric Saltzman</h3>
                            <img src="../static/assets/theVampireDiaries/images/alaric.jpeg" alt="Alaric">
                            <p>
                                Backstory: Alaric Saltzman was born in 1976 and raised in Mystic Falls, Virginia. He
                                initially worked as a history teacher at Mystic Falls High School before becoming
                                embroiled in the town’s supernatural events. Alaric’s life took a tragic turn when his
                                wife, Isobel Flemming, was turned into a vampire and later killed by Klaus Mikaelson.
                                Alaric’s journey involves discovering his own supernatural heritage, becoming a vampire
                                hunter, and forming close relationships with other characters, including Elena Gilbert,
                                Damon Salvatore, and Jeremy Gilbert. Alaric’s character is defined by his sense of duty,
                                his loyalty to his friends, and his willingness to sacrifice himself for the greater
                                good.
                            </p>
                            <p>
                                Character Introduction: Alaric Saltzman is the loyal, protective, and fatherly figure in
                                The Vampire Diaries. Initially introduced as a history teacher with a mysterious past,
                                Alaric’s character evolves into a vampire hunter and a trusted ally to the main
                                characters. Alaric’s journey is one of self-discovery as he uncovers his own
                                supernatural
                                abilities and navigates the dangers of living in a town filled with vampires, witches,
                                and
                                werewolves. His relationships with other characters, particularly Elena Gilbert and
                                Damon
                                Salvatore, play significant roles in his development.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Vampire Hunter
                            </p>
                        </div>

                        <div class="character">
                            <h3>Jeremy Gilbert</h3>
                            <img src="../static/assets/theVampireDiaries/images/jeremy.jpeg" alt="Jeremy">
                            <p>
                                Backstory: Jeremy Gilbert was born and raised in Mystic Falls, Virginia, as the younger
                                brother of Elena Gilbert. Throughout the series, Jeremy is portrayed as a troubled and
                                conflicted teenager who struggles with grief, loss, and his own supernatural abilities.
                                His life takes a tragic turn when he discovers that he is a member of the Gilbert
                                family,
                                a line of vampire hunters. Jeremy’s journey involves coping with the deaths of his
                                parents, his romantic relationships, and his responsibilities as a hunter. His character
                                is defined by his resilience, his loyalty to his family, and his desire to protect those
                                he cares about.
                            </p>
                            <p>
                                Character Introduction: Jeremy Gilbert is the troubled, sensitive, and resilient younger
                                brother of Elena Gilbert. Initially introduced as a rebellious teenager dealing with the
                                loss of his parents, Jeremy’s life becomes even more complicated when he discovers his
                                family’s supernatural legacy. Jeremy’s journey is one of self-discovery as he grapples
                                with his responsibilities as a vampire hunter and his relationships with other
                                characters,
                                including Bonnie Bennett and Anna.
                            </p>
                        </div>

                        <div class="regal-section">
                            <p>
                                <strong>Alias: </strong> The Hunter
                            </p>
                        </div>

                    </div>

                    <div>

                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Bad Brother," Damon Salvatore is a complex and enigmatic character whose
                                journey is one of redemption and self-discovery. From his tumultuous relationship with
                                his brother Stefan to his love for Elena Gilbert, Damon's story is filled with
                                heartbreak, sacrifice, and redemption. Discover the dark past and uncertain future of
                                this iconic character as he navigates the treacherous waters of immortality and human
                                emotion.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Petrova Doppelgänger," Elena Gilbert is the compassionate and determined
                                protagonist of The Vampire Diaries. From her tragic past to her entanglement in the
                                supernatural world of Mystic Falls, Elena's journey is one of self-discovery, love, and
                                sacrifice. Explore the complexities of this iconic character as she grapples with her
                                humanity, her relationships, and her destiny as the key to breaking a centuries-old
                                curse.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Good Brother," Stefan Salvatore is the brooding, compassionate, and
                                morally upright younger brother of Damon. From his struggles with bloodlust to his
                                unwavering love for Elena Gilbert, Stefan's journey is one of redemption and
                                self-discovery. Delve into the complexities of this iconic character as he navigates the
                                challenges of being a vampire while striving to protect his loved ones and uphold his
                                values.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Cheerleader," Caroline Forbes is a bright, ambitious, and resilient young
                                lady who undergoes one of the most significant transformations in The Vampire Diaries.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Witch," Bonnie Bennett is the strong-willed, compassionate, and
                                self-sacrificing best friend of Elena Gilbert. As a witch, Bonnie is often the moral and
                                magical backbone of the group, using her powers to protect her friends and the town of
                                Mystic Falls.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Human," Matt Donovan is the compassionate, loyal, and relatable human
                                character in The Vampire Diaries. As the only main character without supernatural
                                abilities, Matt serves as a grounding force in the series, providing a human perspective
                                on the events unfolding in Mystic Falls.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Werewolf," Tyler Lockwood is the conflicted, loyal, and hot-headed
                                werewolf
                                character in The Vampire Diaries. Initially introduced as a typical high school jock,
                                Tyler's life takes a dramatic turn when he discovers his werewolf heritage and becomes a
                                hybrid.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Vampire Hunter," Alaric Saltzman is the loyal, protective, and fatherly
                                figure in The Vampire Diaries. Initially introduced as a history teacher with a
                                mysterious past, Alaric's character evolves into a vampire hunter and a trusted ally to
                                the main characters.
                            </p>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br>
                        <div class="sidebar">
                            <h3>Character <span class="accent-text">Spotlight</span></h3>
                            <p>
                                Known as the "Hunter," Jeremy Gilbert is the troubled, sensitive, and resilient younger
                                brother of Elena Gilbert. Initially introduced as a rebellious teenager dealing with the
                                loss of his parents, Jeremy's life becomes even more complicated when he discovers his
                                family's supernatural legacy.
                            </p>
                        </div>
                    </div>
                </div>

            </section>

            <section id="episodes" class="section">
                <div class="content">
                    <div class="main-content">
                        <h2>Episodes</h2>
                        <div class="episode">
                            <h3>Episode 1: "Pilot"</h3>
                            <p>
                                Synopsis: The series premiere introduces viewers to the town of Mystic Falls and its
                                inhabitants, including the Gilbert family, the Salvatore brothers, and the mysterious
                                newcomer, Elena Gilbert. As secrets are revealed and relationships are tested, the
                                supernatural forces at play in the town begin to emerge, setting the stage for the
                                series' central conflicts.
                            </p>
                        </div>

                        <div class="episode">
                            <h3>Episode 2: "The Night of the Comet"</h3>
                            <p>
                                Synopsis: As the town prepares for the annual comet festival, tensions rise between the
                                Salvatore brothers over their shared history with Katherine Pierce. Meanwhile, Elena
                                grapples with the discovery of Stefan's true nature and the implications of her own
                                connection to the supernatural world.
                            </p>
                        </div>

                        <div class="episode">
                            <h3>Episode 3: "Friday Night Bites"</h3>
                            <p>
                                Synopsis: Mystic Falls High School hosts a back-to-school event that brings the town's
                                residents together. As Elena navigates the complexities of high school life, Stefan
                                struggles with his past and Damon's presence in Mystic Falls threatens to upend the
                                delicate balance between the Salvatore brothers.
                            </p>
                        </div>

                        <div class="episode">
                            <h3>Episode 4: "Family Ties"</h3>
                            <p>
                                Synopsis: The arrival of a mysterious new student at Mystic Falls High School raises
                                questions about the town's supernatural history. As Elena and her friends investigate
                                the newcomer, they uncover long-buried secrets that threaten to disrupt the fragile
                                peace in Mystic Falls
                            </p>

                        </div>
                    </div>

                    <div class="sidebar">
                        <h3>Featured <span class="accent-text">Episode</span></h3>
                        <img src="../static/assets/theVampireDiaries/images/episode.jpeg" alt="">
                    </div>
            </section>

            <section id="lore" class="section">
                <div class="content">
                    <div class="main-content">
                        <h2>Lore</h2>
                        <div class="lore">
                            <h3>The Petrova Doppelgänger</h3>
                            <p>
                                The Petrova doppelgänger is a mystical double with a significant role in the
                                supernatural
                                lore of The Vampire Diaries. The doppelgänger is a recurring figure in the series, with
                                multiple incarnations appearing throughout history. The doppelgänger is said to be a
                                mirror image of the original Petrova, a

                                vampire who was turned by Klaus Mikaelson. The doppelgänger is often sought after by
                                various supernatural beings for her unique bloodline and the power she possesses. The
                                doppelgänger is said to be the key to breaking a centuries-old curse that binds the
                                supernatural world.
                            </p>
                        </div>

                        <div class="lore">
                            <h3>The Original Vampires</h3>
                            <p>
                                The Original Vampires are a powerful and ancient family of vampires who are among the
                                first of their kind. The family is led by Klaus Mikaelson, a hybrid vampire-werewolf who
                                is known for his ruthless and unpredictable nature. The Original Vampires are feared and
                                respected by other supernatural beings for their strength, immortality, and ability to
                                sire new vampires. The family's history is shrouded in mystery and tragedy, with
                                centuries-old feuds and betrayals shaping their relationships with each other and the
                                world around them.
                            </p>
                        </div>

                        <div class="lore">
                            <h3>The Founding Families</h3>
                            <p>
                                The Founding Families are a group of prominent families who played a significant role in
                                the history of Mystic Falls. The families, including the Gilberts, the Lockwoods, and
                                the
                                Forbes, are descendants of the town's founders and have deep ties to the supernatural
                                world. The Founding Families are tasked with protecting the town from supernatural
                                threats and upholding the balance between humans and supernatural beings. Throughout the
                                series, the families' histories are revealed, uncovering long-buried secrets and
                                betrayals that shape the town's present and future.
                            </p>
                        </div>
                    </div>

                    <div class="sidebar">
                        <h3>Supernatural <span class="accent-text">Artifacts</span></h3>
                        <ul>
                            <li>The Moonstone</li>
                            <li>The Gilbert Ring</li>
                            <li>The White Oak Stake</li>
                            <li>The Cure</li>
                        </ul>

                        <div class="regal-section">
                            <h3>Supernatural <span class="accent-text">Curses</span></h3>
                            <p>Discover the dark secrets and ancient curses that haunt the residents of Mystic Falls.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="community" class="section">
                <div class="content">
                    <div class="main-content">
                        <h2>Community</h2>
                        <div class="community">
                            <h3>Fan Theories</h3>
                            <p>
                                Join the discussion! Share your theories, predictions, and speculations about the
                                mysteries
                                of Mystic Falls and its supernatural inhabitants. What secrets lie beneath the surface
                                of
                                our seemingly peaceful town? Who will emerge victorious in the battle between light and
                                darkness? Let your imagination run wild as you explore the world of The Vampire Diaries
                                with fellow fans.
                            </p>
                        </div>

                        <div class="community">
                            <h3>Character Rankings</h3>
                            <p>
                                Cast your vote! Who is your favorite character in The Vampire Diaries? Which character
                                do
                                you love to hate? Share your rankings and see how your opinions compare to those of
                                other
                                fans. From the Salvatore brothers to the powerful witches of Mystic Falls, every
                                character
                                has a unique story and a devoted fan base. Let your voice be heard as you celebrate the
                                diverse and compelling characters of the series.
                            </p>
                        </div>

                        <div class="community">
                            <h3>Episode Reviews</h3>
                            <p>
                                Dive deep into the world of The Vampire Diaries with episode reviews and recaps. Explore
                                the
                                twists and turns of each episode, from shocking revelations to heart-wrenching
                                sacrifices.
                                Share your thoughts and reactions to the latest developments in the series as you
                                dissect
                                the storylines, character arcs, and supernatural lore that make The Vampire Diaries a
                                beloved and enduring show.
                            </p>
                        </div>
                    </div>

                    <div class="sidebar">
                        <h3>Featured <span class="accent-text">Fan Art</span></h3>
                        <img src="../static/assets/theVampireDiaries/images/fanArt1.jpeg" alt="">
                    </div>
                </div>
            </section>
        </div>

        <footer>
            <p>&copy; 2024 The Vampire Diaries. Made by <a href="https://www.instagram.com/m0ntas3r/?hl=de"
                    target="_blank">Montaser Amoor</a> ©.</p>
        </footer>
    </div>

    <script src="../static/js/theVampireDiaries.js"></script>
</body>

</html>